{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}

<div class="container">
  <div class="container-fluid">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4">Add Item</h1>
          <form method="POST">
            {{ form.hidden_tag() }}
            {{ wtf.form_field(form.title) }}
            {{ wtf.form_field(form.description) }}
            {{ wtf.form_field(form.categories) }}
            {{ form.submit(class_="btn btn-primary")}}
          </form>
        </div>
      </div>
  </div>
</div>

{% endblock %}